# @license AGPL-3.0-or-later
#
# Copyright(C) 2025 8 Hobbies, LLC
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <https://www.gnu.org/licenses/>.

---
services:
  api-server:
    image: localhost/commitrack-api-server
    container_name: commitrack-api-server
    ports:
      - "3000:3000"
    environment:
      DATABASE_CONNECTION_URL: postgresql://commitrack:commitrack@db:5432/commitrack
      CACHE_CONNECTION_URL: redis://cache:6379
    depends_on:
      db:
        condition: service_healthy
      test-repos:
        condition: service_healthy
      cache:
        condition: service_healthy
    init: true
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "curl http://localhost:3000/health"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - commitrack

  db:
    image: docker.io/postgres:17.4-alpine3.21@sha256:7062a2109c4b51f3c792c7ea01e83ed12ef9a980886e3b3d380a7d2e5f6ce3f5
    container_name: commitrack-db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: commitrack
      POSTGRES_USER: commitrack
      POSTGRES_PASSWORD: commitrack
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - commitrack

  cache:
    image: docker.io/redis:8.0.0-bookworm@sha256:a4b90e7079b67c41bdf4ca6f9d87197079e4c1c3273b7f489a74f2687d85a05e
    container_name: commitrack-cache
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD-SHELL", "redis-cli ping | grep PONG"]
      interval: 1s
      timeout: 3s
      retries: 5
    networks:
      - commitrack

  test-repos:
    image: localhost/commitrack-test-repos
    container_name: commitrack-test-repos
    ports:
      - "9418:9418"
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "git ls-remote git://localhost/repos/single-branch"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - commitrack

networks:
  commitrack:
    name: commitrack
